# 📞 Bot Owner Details
OWNER_NAME=Ishaq Ibrahim
OWNER_EMAIL=isaac0maina@gmail.com
BELTAH_PHONE=+254741819582

# 🤖 Bot Identity
BOT_NAME=BeltahBot

# 🧠 AI Integration Keys
CHATGPT_KEY=your_chatgpt_api_key
GMNAE_KEY=your_gminae_key
CREWDREW_KEY=your_dalle_key

# 🔐 Optional Session Control (no need if using auth_info file)
SESSION_ID=your_session_id_here
